*{
  margin: 0px;
  padding: 0px;
}
.App {
  width: 100%;
}
.main {
  width: 100%;
 
}
.company {
  margin-bottom: 10px;
}
.position {
  margin-bottom: 10px;
}
 .column-main ul {
  list-style: none;
}
.column-main ul li {
  display: inline;
  margin-right: 15px;
}
.new,.featured {
  background-color: rgb(111, 140, 236);
  padding: 10px;
  border-radius: 5px;
}
.column-main {
  margin-bottom: 30px;
}


